body{
    background-color: black;
       }
#imagem_bg{
    padding: 0%;
    margin-left: 5%;
    position: absolute;
}

.menu {
    display: flex;
    justify-content: center; 
    }
#button_email{
    margin:15px;
}
#button_linkedin{
    margin:15px;
}
#button_github{
    margin:15px;
}
#button_whatsapp{
    margin:15px;
}
#button_instagram{
    margin:15px;
}
#imagem_pessoal{
   margin-left:65%;
   margin-top: 1.5%;
   position:absolute;
}
#nome{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    color:#a9a9a9;
    margin-top: 5%;
    margin-left: 35%;
    position: absolute;
}
#atribuicao{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 18px;
    margin-top: 14%;
    margin-left: 30%;
    position: absolute;
}
#resumo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 15%;
    margin-left: 30%;
    position: absolute;
    text-align:start;
}
#habilidades{
   
    display: flex;
    margin-left: 2%; 
    margin-top: 12%;
    position:absolute;
    }
    #projetos{
   
        display: flex;
        margin-left: 4.5%; 
        margin-top: 25%;
        position:absolute;
        }
        
    .palestra a{
    color: white;
    background-color: #808080;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 35%;
    margin-top: 32%;
    position: absolute;
}


.ecopy{
    margin-left: 15px;
    color:rgb(255, 255, 255);
    position: absolute;
    margin-top: 600px;
    }
  